Repository joaoblasques/e-commerce-analytics-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, spark-job-validation

pytest-check:
  name: Run pytest
  entry: poetry run pytest
  language: system
  pass_filenames: false
  stages:
  - push

spark-job-validation:
  name: Validate Spark jobs
  entry: python -m src.utils.spark_validator
  language: system
  pass_filenames: false
  stages:
  - commit

fix(ci): update GitHub Actions in release workflow to latest versions
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
Due: none

fix(security): resolve remaining Bandit security issues
  src/analytics/fraud_detection/case_management.py
  src/api/config.py
  src/data_generation/generator.py
  src/data_lake/delta_cli.py
  src/data_lake/delta_config.py
  src/data_lake/delta_streaming.py
  src/database/utils.py
  src/disaster_recovery/backup_manager.py
  src/disaster_recovery/runbooks/dr_runbook.py
Due: pytest-check, spark-job-validation

fix: resolve Docker port conflicts and import errors
  .envrc
  docker-compose.yml
  scripts/check-health.py
Due: pytest-check

fix: resolve critical health check issues
  .claude/settings.local.json
  config/postgres/init/01-init-database.sql
  scripts/test-monitoring.py
Due: pytest-check

docs: add disk space management guidance to local dev notes
  README.md
Due: none

fix(ci): update Poetry version to latest and improve error handling in dependency-update workflow
  .github/workflows/dependency-update.yml
Due: none

fix(ci): replace snok/install-poetry action with manual installation
  .github/workflows/dependency-update.yml
Due: none

test: add simple workflow to test CI/CD setup
  .github/workflows/test-simple.yml
Due: none

remove: delete test-simple.yml workflow
  .github/workflows/test-simple.yml
Due: none

feat: add simplified dependency update workflow
  .github/workflows/dependency-update-simple.yml
Due: none

fix: disable problematic dependency-update.yml workflow
  .github/workflows/dependency-update.yml.disabled
Due: none

fix: resolve critical health check issues and CI/CD workflow problems (#83)
  .github/workflows/dependency-update-simple.yml
  .github/workflows/dependency-update.yml.disabled
  README.md
Due: none

fix: resolve Kafka connectivity and monitoring issues
  scripts/test-monitoring.py
Due: pytest-check

fix: resolve Kafka connectivity and monitoring issues (#84)
  scripts/test-monitoring.py
Due: pytest-check

fix: resolve circular import issue by renaming logging module
  .claude/settings.local.json
  examples/logging_integration_demo.py
  examples/monitoring_integration_demo.py
  src/api/middleware/correlation_middleware.py
  src/api/middleware/metrics_middleware.py
  src/custom_logging/__init__.py
  src/custom_logging/correlation.py
  src/custom_logging/formatters.py
  src/custom_logging/handlers.py
  src/custom_logging/middleware.py
  src/custom_logging/structured_logger.py
  src/monitoring/tracing.py
  tests/unit/test_logging_system.py
Due: pytest-check, spark-job-validation

fix: resolve circular import issue by renaming logging module (#85)
  .claude/settings.local.json
  examples/logging_integration_demo.py
  examples/monitoring_integration_demo.py
  src/api/middleware/correlation_middleware.py
  src/api/middleware/metrics_middleware.py
  src/custom_logging/__init__.py
  src/custom_logging/correlation.py
  src/custom_logging/formatters.py
  src/custom_logging/handlers.py
  src/custom_logging/middleware.py
  src/custom_logging/structured_logger.py
  src/monitoring/tracing.py
  tests/unit/test_logging_system.py
Due: pytest-check, spark-job-validation

fix: resolve database authentication and Kafka configuration issues
  README.md
  scripts/manage_database.py
  scripts/manage_kafka.py
  src/database/config.py
Due: pytest-check, spark-job-validation

docs: fix generate_stream_data.py command syntax and add data storage documentation
  README.md
Due: none

fix: normalize category weight probabilities in data generation
  src/data_generation/generator.py
Due: pytest-check, spark-job-validation

fix: resolve data generation issues and add missing dependencies
  poetry.lock
  pyproject.toml
  src/data_generation/reliable_producer.py
Due: pytest-check, spark-job-validation

fix: resolve duplicate get_stats method in ReliableKafkaProducer
  .claude/settings.local.json
  src/data_generation/reliable_producer.py
Due: pytest-check, spark-job-validation

docs: update 5-minute setup with optimized data generation and streaming consumers
  README.md
Due: none

docs: add comprehensive streaming data storage locations to README
  README.md
Due: none

refactor: modularize inline Python commands into separate script files
  .claude/settings.local.json
  README.md
  scripts/generate_quick_test_data.py
  scripts/verify_test_data.py
Due: pytest-check

fix: resolve create_spark_session parameter mismatch in consumer CLI
  src/streaming/consumer_cli.py
Due: pytest-check, spark-job-validation

fix: resolve checkpoint_location attribute error in consumer CLI
  .claude/settings.local.json
  src/streaming/consumer_cli.py
Due: pytest-check, spark-job-validation

docs: fix streaming consumer setup instructions in README
  README.md
Due: none

Path conditions:
  pytest-check: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$
  spark-job-validation: any of: src/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$
