Repository joaoblasques/e-commerce-analytics-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, spark-job-validation

Path conditions:
  pytest-check: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$
  spark-job-validation: any of: src/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$

feat: Task 1.4.1 - Configure Spark cluster and optimize settings
  ECAP_execution_summary.md
  ECAP_tasklist.md
  pyproject.toml
  src/utils/__init__.py
  src/utils/spark_utils.py
  terraform/local/spark.tf
Due: pytest-check, spark-job-validation

revert: Revert changes for Task 1.4.2 - PySpark development framework
  pyproject.toml
  src/utils/__init__.py
  src/utils/spark_utils.py
Due: pytest-check, spark-job-validation

feat: Task 1.4.2 - Create PySpark development framework
  pyproject.toml
  src/analytics/__init__.py
  src/analytics/config.py
  src/analytics/jobs/base_job.py
  src/utils/__init__.py
  src/utils/logger.py
Due: pytest-check, spark-job-validation

fix: Remove duplicate numpy entry in pyproject.toml
  pyproject.toml
Due: none

Revert "fix: Remove duplicate numpy entry in pyproject.toml"
  pyproject.toml
Due: none

feat: Task 1.4.1 - Configure Spark cluster and optimize settings (#16)
  ECAP_execution_summary.md
  ECAP_tasklist.md
  pyproject.toml
  src/utils/__init__.py
  src/utils/spark_utils.py
  terraform/local/spark.tf
Due: pytest-check, spark-job-validation

Revert "feat: Task 1.4.1 - Configure Spark cluster and optimize settings (#16)"
  ECAP_execution_summary.md
  ECAP_tasklist.md
  pyproject.toml
  src/utils/__init__.py
  src/utils/spark_utils.py
  terraform/local/spark.tf
Due: pytest-check, spark-job-validation

feat: Task 1.4.2 - Create PySpark development framework
  ECAP_execution_summary.md
  ECAP_tasklist.md
  pyproject.toml
  src/analytics/config.py
  src/analytics/jobs/base_job.py
  src/utils/logger.py
Due: pytest-check, spark-job-validation

feat: Task 1.4.2 - Create PySpark development framework (#17)
  ECAP_execution_summary.md
  ECAP_tasklist.md
  pyproject.toml
  src/analytics/__init__.py
  src/analytics/config.py
  src/analytics/jobs/base_job.py
  src/utils/__init__.py
  src/utils/logger.py
  terraform/local/spark.tf
Due: pytest-check, spark-job-validation

feat: Task 1.4.3 - Implement basic Spark job examples
  ECAP_tasklist.md
  src/analytics/__init__.py
  src/analytics/jobs/sample_batch_job.py
  src/analytics/jobs/sample_streaming_job.py
  src/utils/__init__.py
  src/utils/performance_utils.py
Due: pytest-check, spark-job-validation

feat: implement task 1.4.3 - Implement basic Spark job examples with data validation and performance logging
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  ECAP_tasklist.md
  poetry.lock
  pyproject.toml
  src/analytics/jobs/base_job.py
  src/analytics/jobs/sample_batch_job.py
  src/analytics/jobs/sample_streaming_job.py
  src/utils/performance_utils.py
Due: pytest-check, spark-job-validation

feat: Task 1.4.3 - Implement basic Spark job examples (#19)
  .claude/settings.local.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  ECAP_tasklist.md
  poetry.lock
  pyproject.toml
  src/analytics/__init__.py
  src/analytics/jobs/base_job.py
  src/analytics/jobs/sample_batch_job.py
  src/analytics/jobs/sample_streaming_job.py
  src/utils/__init__.py
  src/utils/performance_utils.py
Due: pytest-check, spark-job-validation

feat: implement task 2.1.1 - transaction data producer with configurable rates and monitoring
  .claude/settings.local.json
  .github/workflows/ci.yml
  docs/transaction_producer.md
  examples/transaction_producer_example.py
  pyproject.toml
  scripts/run_transaction_producer.sh
  src/data_ingestion/__init__.py
  src/data_ingestion/monitoring.py
  src/data_ingestion/producers/__init__.py
  src/data_ingestion/producers/base_producer.py
  src/data_ingestion/producers/producer_cli.py
  src/data_ingestion/producers/transaction_producer.py
  tests/test_transaction_producer.py
Due: pytest-check, spark-job-validation

feat: implement task 2.1.1 - transaction data producer with configurable rates and monitoring (#20)
  .claude/settings.local.json
  .github/workflows/ci.yml
  docs/transaction_producer.md
  examples/transaction_producer_example.py
  pyproject.toml
  scripts/run_transaction_producer.sh
  src/data_ingestion/__init__.py
  src/data_ingestion/monitoring.py
  src/data_ingestion/producers/__init__.py
  src/data_ingestion/producers/base_producer.py
  src/data_ingestion/producers/producer_cli.py
  src/data_ingestion/producers/transaction_producer.py
  tests/test_transaction_producer.py
Due: pytest-check, spark-job-validation

docs: update task documentation for Task 2.1.1 completion
  ECAP_execution_summary.md
  ECAP_tasklist.md
Due: none

feat: implement Task 2.1.2 - User behavior event producer with session correlation and journey patterns
  docs/user_behavior_producer.md
  pyproject.toml
  scripts/run_user_behavior_producer.sh
  src/data_ingestion/producers/user_behavior_cli.py
  src/data_ingestion/producers/user_behavior_producer.py
  tests/test_user_behavior_producer.py
Due: pytest-check, spark-job-validation

feat: Task 2.1.2 - Implement user behavior event producer (#21)
  ECAP_execution_summary.md
  ECAP_tasklist.md
  docs/user_behavior_producer.md
  pyproject.toml
  scripts/run_user_behavior_producer.sh
  src/data_ingestion/producers/user_behavior_cli.py
  src/data_ingestion/producers/user_behavior_producer.py
  tests/test_user_behavior_producer.py
Due: pytest-check, spark-job-validation

docs: update Task 2.1.2 completion in documentation and add task completion checklist
  ECAP_execution_summary.md
  ECAP_tasklist.md
  TASK_COMPLETION_CHECKLIST.md
Due: none

fix: replace ARRAY with JSON for SQLite compatibility
  pyproject.toml
  src/database/models.py
Due: pytest-check, spark-job-validation

fix: resolve CI test failures in database and spark validator tests
  pyproject.toml
  tests/unit/test_database.py
  tests/unit/test_spark_validator.py
Due: pytest-check

fix: resolve CI coverage and security scan issues
  .safety-ignore
  pyproject.toml
Due: none

fix: resolve CI security scan and integration test issues
  .github/workflows/ci.yml
  .safety-ignore
  tests/integration/test_basic_integration.py
Due: pytest-check

fix: resolve CI coverage threshold failure by fixing imports and adding basic tests
  .claude/settings.local.json
  src/data_generation/__init__.py
  tests/test_simple_coverage.py
Due: pytest-check, spark-job-validation

fix: lower test coverage threshold to 5% and document technical debt
  .claude/settings.local.json
  .github/workflows/ci.yml
  ECAP_tasklist.md
Due: none

fix: correct CI coverage configuration - separate integration from overall thresholds
  .github/workflows/ci.yml
  ECAP_tasklist.md
Due: none

fix: correctly lower overall coverage threshold to 5% to resolve CI failure
  .github/workflows/ci.yml
  ECAP_tasklist.md
Due: none

docs: add GitHub issues for all technical debt items and update task list
  ECAP_tasklist.md
Due: none

fix: allow CI pipeline to continue even if tests fail (Option 1)
  .github/workflows/ci.yml
Due: none

fix: unblock CI security scan by allowing Bandit failures to continue
  .claude/settings.local.json
  .github/workflows/ci.yml
  ECAP_tasklist.md
Due: none

docs: clean up ECAP_tasklist.md technical debt section
  .claude/settings.local.json
  ECAP_tasklist.md
Due: none

feat: implement task 2.1.3 - add error handling and reliability features
  .claude/settings.local.json
  docs/reliability-features.md
  scripts/demo_reliability_features.py
  src/data_generation/__init__.py
  src/data_generation/producers.py
  src/data_generation/reliability.py
  src/data_generation/reliable_producer.py
  tests/test_reliability.py
Due: pytest-check, spark-job-validation

feat: implement task 2.1.3 - add error handling and reliability features (#28)
  .claude/settings.local.json
  docs/reliability-features.md
  scripts/demo_reliability_features.py
  src/data_generation/__init__.py
  src/data_generation/producers.py
  src/data_generation/reliability.py
  src/data_generation/reliable_producer.py
  tests/test_reliability.py
Due: pytest-check, spark-job-validation

docs: mark Task 2.1.3 as completed in task list
  .claude/settings.local.json
  ECAP_tasklist.md
Due: none

docs: add Task 2.1.3 completion summary to execution summary
  ECAP_execution_summary.md
Due: none

fix: resolve linting issues and finalize streaming consumers implementation
  docs/streaming-consumers.md
  scripts/demo_streaming_consumers.py
  src/streaming/__init__.py
  src/streaming/consumer_cli.py
  src/streaming/consumer_manager.py
  src/streaming/consumers.py
  tests/test_streaming_consumers.py
Due: pytest-check, spark-job-validation

feat: implement task 2.2.1 - comprehensive streaming data consumers (#29)
  .claude/settings.local.json
  ECAP_execution_summary.md
  ECAP_tasklist.md
  docs/streaming-consumers.md
  scripts/demo_streaming_consumers.py
  src/streaming/__init__.py
  src/streaming/consumer_cli.py
  src/streaming/consumer_manager.py
  src/streaming/consumers.py
  tests/test_streaming_consumers.py
Due: pytest-check, spark-job-validation

docs: mark Task 2.2.1 as completed and add execution summary
  ECAP_execution_summary.md
  ECAP_tasklist.md
Due: none

fix: resolve CI/CD failures by adding pyspark dependency and increasing test coverage
  .claude/settings.local.json
  poetry.lock
  pyproject.toml
  src/utils/logger.py
  tests/unit/test_cli_comprehensive.py
  tests/unit/test_data_generation_config.py
  tests/unit/test_logger.py
Due: pytest-check, spark-job-validation

docs: add comprehensive test coverage strategy and implementation plan
  .claude/settings.local.json
  ECAP_tasklist.md
  tests/unit/test_cli_comprehensive.py
  tests/unit/test_data_generation_config.py
  tests/unit/test_database_models.py
  tests/unit/test_logger.py
Due: pytest-check
