Repository joaoblasques/e-commerce-analytics-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, spark-job-validation

pytest-check:
  name: Run pytest
  entry: poetry run pytest
  language: system
  pass_filenames: false
  stages:
  - push

spark-job-validation:
  name: Validate Spark jobs
  entry: python -m src.utils.spark_validator
  language: system
  pass_filenames: false
  stages:
  - commit

docs: complete Task 5.3.2 documentation updates
  README.md
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat(disaster-recovery): implement comprehensive disaster recovery and backup system (#task-5.3.3)
  .claude/settings.local.json
  docs/disaster_recovery_guide.md
  docs/disaster_recovery_quick_start.md
  poetry.lock
  pyproject.toml
  src/disaster_recovery/backup_automation.py
  src/disaster_recovery/backup_manager.py
  src/disaster_recovery/dr_coordinator.py
  src/disaster_recovery/runbooks/dr_runbook.py
  tests/unit/test_disaster_recovery.py
Due: pytest-check, spark-job-validation

feat(disaster-recovery): implement comprehensive disaster recovery and backup system (#task-5.3.3) (#72)
  .claude/settings.local.json
  README.md
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  docs/disaster_recovery_guide.md
  docs/disaster_recovery_quick_start.md
  poetry.lock
  pyproject.toml
  src/disaster_recovery/backup_automation.py
  src/disaster_recovery/backup_manager.py
  src/disaster_recovery/dr_coordinator.py
  src/disaster_recovery/runbooks/dr_runbook.py
  tests/unit/test_disaster_recovery.py
Due: pytest-check, spark-job-validation

docs: update README.md with Task 5.3.3 completion
  README.md
Due: none

feat(testing): implement comprehensive unit test suite for Task 6.1.1
  README.md
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  src/analytics/anomaly_detection.py
  tests/test_delta_lake.py
  tests/unit/test_utils.py
Due: pytest-check, spark-job-validation

feat(testing): implement comprehensive unit test suite for Task 6.1.1 (#73)
  README.md
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  src/analytics/anomaly_detection.py
  tests/test_delta_lake.py
  tests/unit/test_utils.py
Due: pytest-check, spark-job-validation

docs: update Task 6.1.1 completion in tasklist and execution summary
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

docs: update README.md with Phase 6 testing progress
  README.md
Due: none

fix: correct YAML formatting in dependency-update workflow
  .github/workflows/dependency-update.yml
Due: none

feat: complete property-based testing implementation (Task 6.1.2)
  docs/6.1.2-property-based-testing-guide.md
  poetry.lock
  pyproject.toml
  tests/unit/test_edge_case_discovery.py
  tests/unit/test_property_based_api.py
  tests/unit/test_property_based_business_rules.py
  tests/unit/test_property_based_transformations.py
  tests/unit/test_property_validation.py
Due: pytest-check

feat: complete property-based testing implementation (Task 6.1.2) (#74)
  docs/6.1.2-property-based-testing-guide.md
  poetry.lock
  pyproject.toml
  tests/unit/test_edge_case_discovery.py
  tests/unit/test_property_based_api.py
  tests/unit/test_property_based_business_rules.py
  tests/unit/test_property_based_transformations.py
  tests/unit/test_property_validation.py
Due: pytest-check

docs: update task documentation with Task 6.1.2 completion details
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat(tests): implement comprehensive end-to-end pipeline integration tests
  poetry.lock
  pyproject.toml
  tests/integration/test_api_integration.py
  tests/integration/test_e2e_pipeline.py
  tests/integration/test_error_recovery.py
  tests/integration/test_performance_benchmarks.py
Due: pytest-check

feat(tests): implement comprehensive end-to-end pipeline integration tests (#75)
  poetry.lock
  pyproject.toml
  tests/integration/test_api_integration.py
  tests/integration/test_e2e_pipeline.py
  tests/integration/test_error_recovery.py
  tests/integration/test_performance_benchmarks.py
Due: pytest-check

docs: update task documentation with Task 6.2.1 completion details
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat: implement comprehensive performance testing framework (Task 6.2.2)
  .claude/settings.local.json
  ai_docs/ECAP_archive_phase1-5.md
  ai_docs/ECAP_execution_summary.md
  docs/6.2.2 - performance-testing-guide.md
  poetry.lock
  pyproject.toml
  tests/performance/test_api_stress.py
  tests/performance/test_chaos_engineering.py
  tests/performance/test_performance_regression.py
  tests/performance/test_performance_validation.py
  tests/performance/test_streaming_load.py
Due: pytest-check

feat: implement comprehensive performance testing framework (Task 6.2.2) (#76)
  .claude/settings.local.json
  ai_docs/ECAP_archive_phase1-5.md
  ai_docs/ECAP_execution_summary.md
  docs/6.2.2 - performance-testing-guide.md
  poetry.lock
  pyproject.toml
  tests/performance/test_api_stress.py
  tests/performance/test_chaos_engineering.py
  tests/performance/test_performance_regression.py
  tests/performance/test_performance_validation.py
  tests/performance/test_streaming_load.py
Due: pytest-check

docs: complete Task 6.2.2 performance testing documentation
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat: implement comprehensive security testing framework for Task 6.3.1
  docs/security_testing_framework.md
  docs/security_testing_guidelines.md
  tests/security/test_data_privacy_compliance.py
  tests/security/test_dependency_vulnerabilities.py
  tests/security/test_penetration_testing.py
  tests/security/test_security_framework_validation.py
  tests/security/test_security_regression.py
Due: pytest-check

feat: implement comprehensive security testing framework for Task 6.3.1 (#77)
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  docs/security_testing_framework.md
  docs/security_testing_guidelines.md
  tests/security/test_data_privacy_compliance.py
  tests/security/test_dependency_vulnerabilities.py
  tests/security/test_penetration_testing.py
  tests/security/test_security_framework_validation.py
  tests/security/test_security_regression.py
Due: pytest-check

docs: finalize ECAP execution summary with Task 6.3.1 completion
  ai_docs/ECAP_execution_summary.md
Due: none

feat(docs): implement Task 7.1.1 - comprehensive technical documentation
  docs/7.1.1-api-documentation.md
  docs/7.1.1-deployment-configuration-guide.md
  docs/7.1.1-system-architecture.md
  docs/7.1.1-troubleshooting-maintenance-guide.md
Due: none

feat(docs): Task 7.1.1 - Comprehensive Technical Documentation (#78)
  ai_docs/ECAP_execution_summary.md
  docs/7.1.1-api-documentation.md
  docs/7.1.1-deployment-configuration-guide.md
  docs/7.1.1-system-architecture.md
  docs/7.1.1-troubleshooting-maintenance-guide.md
Due: none

docs: update project documentation for Task 7.1.1 completion
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat: implement Task 7.1.2 - Create performance tuning documentation
  docs/7.1.2-performance-tuning-guide.md
Due: none

feat: implement Task 7.1.2 - Create performance tuning documentation (#79)
  docs/7.1.2-performance-tuning-guide.md
Due: none

docs: update task documentation with Task 7.1.2 completion details
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat(docs): implement Task 7.2.1 - comprehensive business user documentation
  docs/7.2.1-business-user-guide.md
  docs/7.2.1-training-materials.md
Due: none

feat(docs): Task 7.2.1 - Create comprehensive business user documentation (#80)
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  docs/7.2.1-business-user-guide.md
  docs/7.2.1-training-materials.md
Due: none

docs: update Task 7.2.1 completion in project documentation
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat(docs): implement Task 7.2.2 - comprehensive operational runbooks
  docs/7.2.2-operational-runbooks.md
Due: none

feat(docs): implement Task 7.2.2 - comprehensive operational runbooks (#81)
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  docs/7.2.2-operational-runbooks.md
Due: none

docs: update task completion documentation for Task 7.2.2
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

docs: update README.md with complete project status - all 60 tasks (100%) completed
  README.md
Due: none

feat: enhance real-time streaming architecture diagram with professional styling
  README.md
Due: none

feat: optimize architecture diagram for better readability and compactness
  README.md
Due: none

fix: increase font size for better readability in architecture diagram
  README.md
Due: none

revert: restore detailed architecture diagram with comprehensive technical information
  README.md
Due: none

fix: update deprecated GitHub Actions to latest versions
  .github/workflows/ci.yml
Due: none

fix(security): resolve Bandit security warnings for hardcoded temp paths and try-except-pass
  src/streaming/consumer_cli.py
  src/streaming/consumer_manager.py
  src/streaming/consumers.py
  src/utils/spark_utils.py
Due: pytest-check, spark-job-validation

Path conditions:
  pytest-check: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$
  spark-job-validation: any of: src/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$
