Repository joaoblasques/e-commerce-analytics-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, spark-job-validation

Path conditions:
  pytest-check: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$
  spark-job-validation: any of: src/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$

docs: complete Tasks 4.1.3 and 4.1.4 documentation
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat: implement comprehensive Streamlit dashboard application (Task 4.2.1)
  .claude/settings.local.json
  Makefile
  ai_docs/CLAUDE.md
  ai_docs/SUPERCLAUDECONFIG.md
  ai_docs/SUPERCLAUDETRAINING.md
  docs/4.2.1 - streamlit-dashboard.md
  poetry.lock
  pyproject.toml
  scripts/run_dashboard.py
  scripts/validate_dashboard.py
  src/dashboard/assets/styles.css
  src/dashboard/components/__init__.py
  src/dashboard/components/alerts.py
  src/dashboard/components/charts.py
  src/dashboard/components/metrics_cards.py
  src/dashboard/components/sidebar.py
  src/dashboard/components/tables.py
  src/dashboard/config/__init__.py
  src/dashboard/config/settings.py
  src/dashboard/main.py
  src/dashboard/pages/customer_analytics.py
  src/dashboard/pages/executive_dashboard.py
  src/dashboard/pages/fraud_detection.py
  src/dashboard/pages/real_time_monitoring.py
  src/dashboard/pages/revenue_analytics.py
  src/dashboard/utils/__init__.py
  src/dashboard/utils/api_client.py
  src/dashboard/utils/auth.py
  src/dashboard/utils/data_processing.py
Due: pytest-check, spark-job-validation

docs: complete Task 4.2.1 execution summary
  ai_docs/ECAP_execution_summary.md
Due: none

docs: mark Task 4.2.1 as completed in task list
  ai_docs/ECAP_tasklist.md
Due: none

docs: mark Task 4.1.2 as completed - authentication and authorization was implemented in PR #58
  ai_docs/ECAP_tasklist.md
Due: none

docs: add Task 4.1.2 completion details to execution summary
  ai_docs/ECAP_execution_summary.md
Due: none

feat: implement Task 4.2.2 executive dashboard views
  src/dashboard/components/__init__.py
  src/dashboard/components/charts.py
  src/dashboard/pages/executive_dashboard.py
Due: pytest-check, spark-job-validation

feat: implement Task 4.2.2 executive dashboard views (#61)
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  src/dashboard/components/__init__.py
  src/dashboard/components/charts.py
  src/dashboard/pages/executive_dashboard.py
Due: pytest-check, spark-job-validation

docs: complete Task 4.2.2 documentation and execution summary
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat: implement Task 4.2.3 - operational dashboard views
  src/dashboard/config/settings.py
  src/dashboard/main.py
  src/dashboard/pages/__init__.py
  src/dashboard/pages/operational_dashboard.py
Due: pytest-check, spark-job-validation

feat: Task 4.2.3 - Implement operational dashboard views (#62)
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  src/dashboard/config/settings.py
  src/dashboard/main.py
  src/dashboard/pages/__init__.py
  src/dashboard/pages/operational_dashboard.py
Due: pytest-check, spark-job-validation

feat: implement Task 4.2.4 - Add interactive analytics features
  .claude/settings.local.json
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  src/dashboard/config/settings.py
  src/dashboard/main.py
  src/dashboard/pages/__init__.py
  src/dashboard/pages/operational_dashboard.py
Due: pytest-check, spark-job-validation

feat: implement Task 4.2.4 - Add interactive analytics features (#63)
  .claude/settings.local.json
  src/dashboard/pages/__init__.py
  src/dashboard/pages/operational_dashboard.py
Due: pytest-check, spark-job-validation

feat(terraform): create reusable modules for infrastructure provisioning
  .claude/settings.local.json
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  terraform/README.md
  terraform/environments/dev/main.tf
  terraform/environments/dev/outputs.tf
  terraform/environments/dev/variables.tf
  terraform/modules/eks/main.tf
  terraform/modules/eks/outputs.tf
  terraform/modules/eks/variables.tf
  terraform/modules/msk/main.tf
  terraform/modules/msk/outputs.tf
  terraform/modules/msk/templates/client.properties.tpl
  terraform/modules/msk/variables.tf
  terraform/modules/rds/main.tf
  terraform/modules/rds/outputs.tf
  terraform/modules/rds/variables.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
  terraform/modules/security-groups/main.tf
  terraform/modules/security-groups/outputs.tf
  terraform/modules/security-groups/variables.tf
  terraform/modules/vpc/main.tf
  terraform/modules/vpc/outputs.tf
  terraform/modules/vpc/variables.tf
Due: none

feat(terraform): create reusable modules for infrastructure provisioning (#64)
  .claude/settings.local.json
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  terraform/README.md
  terraform/environments/dev/main.tf
  terraform/environments/dev/outputs.tf
  terraform/environments/dev/variables.tf
  terraform/modules/eks/main.tf
  terraform/modules/eks/outputs.tf
  terraform/modules/eks/variables.tf
  terraform/modules/msk/main.tf
  terraform/modules/msk/outputs.tf
  terraform/modules/msk/templates/client.properties.tpl
  terraform/modules/msk/variables.tf
  terraform/modules/rds/main.tf
  terraform/modules/rds/outputs.tf
  terraform/modules/rds/variables.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
  terraform/modules/security-groups/main.tf
  terraform/modules/security-groups/outputs.tf
  terraform/modules/security-groups/variables.tf
  terraform/modules/vpc/main.tf
  terraform/modules/vpc/outputs.tf
  terraform/modules/vpc/variables.tf
Due: none

docs(tasks): update task 5.1.1 to completed
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat(config): implement comprehensive secrets and configuration management system
  .claude/settings.local.json
  .encryption_key
  ai_docs/ECAP_archive_phase1-4.md
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  config/default.yaml
  config/production.yaml
  config/secrets.yaml
  config/staging.yaml
  examples/config_management_demo.py
  poetry.lock
  pyproject.toml
  secrets.encrypted
  src/config/__init__.py
  src/config/encryption.py
  src/config/k8s_secrets.py
  src/config/manager.py
  src/config/vault_client.py
  tests/unit/test_config_manager.py
Due: pytest-check, spark-job-validation

feat(config): implement comprehensive secrets and configuration management system (#66)
  .claude/settings.local.json
  .encryption_key
  ai_docs/ECAP_archive_phase1-4.md
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  config/default.yaml
  config/production.yaml
  config/secrets.yaml
  config/staging.yaml
  examples/config_management_demo.py
  poetry.lock
  pyproject.toml
  secrets.encrypted
  src/config/__init__.py
  src/config/encryption.py
  src/config/k8s_secrets.py
  src/config/manager.py
  src/config/vault_client.py
  tests/unit/test_config_manager.py
Due: pytest-check, spark-job-validation

feat(logging): implement comprehensive logging strategy for Task 5.2.1
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  config/default.yaml
  config/production.yaml
  config/staging.yaml
  docker-compose.yml
  examples/logging_integration_demo.py
  logging/curator/config/actions.yml
  logging/curator/config/curator.yml
  logging/docker-compose.elk.yml
  logging/filebeat/config/filebeat.yml
  logging/kibana/config/kibana.yml
  logging/logstash/config/logstash.yml
  logging/logstash/pipeline/ecap-logs.conf
  poetry.lock
  pyproject.toml
  src/api/main.py
  src/api/middleware/correlation_middleware.py
  src/data_ingestion/producers/base_producer.py
  src/logging/__init__.py
  src/logging/correlation.py
  src/logging/formatters.py
  src/logging/handlers.py
  src/logging/middleware.py
  src/logging/structured_logger.py
  src/streaming/consumers.py
  tests/unit/test_logging_system.py
Due: pytest-check, spark-job-validation

feat(logging): implement comprehensive logging strategy for Task 5.2.1 (#67)
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  config/default.yaml
  config/production.yaml
  config/staging.yaml
  docker-compose.yml
  examples/logging_integration_demo.py
  logging/curator/config/actions.yml
  logging/curator/config/curator.yml
  logging/docker-compose.elk.yml
  logging/filebeat/config/filebeat.yml
  logging/kibana/config/kibana.yml
  logging/logstash/config/logstash.yml
  logging/logstash/pipeline/ecap-logs.conf
  poetry.lock
  pyproject.toml
  src/api/main.py
  src/api/middleware/correlation_middleware.py
  src/data_ingestion/producers/base_producer.py
  src/logging/__init__.py
  src/logging/correlation.py
  src/logging/formatters.py
  src/logging/handlers.py
  src/logging/middleware.py
  src/logging/structured_logger.py
  src/streaming/consumers.py
  tests/unit/test_logging_system.py
Due: pytest-check, spark-job-validation

docs: mark Task 5.2.1 as completed and fix import issue
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  src/api/main.py
Due: pytest-check, spark-job-validation

fix: remove unused dependencies import from main.py
  src/api/main.py
Due: pytest-check, spark-job-validation

feat: Task 5.2.2 - Implement comprehensive application performance monitoring
  examples/monitoring_integration_demo.py
  monitoring/README.md
  monitoring/alertmanager/alertmanager.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/setup_monitoring.py
  poetry.lock
  pyproject.toml
  src/api/main.py
  src/api/middleware/metrics_middleware.py
  src/monitoring/__init__.py
  src/monitoring/tracing.py
  tests/unit/test_monitoring_system.py
Due: pytest-check, spark-job-validation

docs: update task documentation for Task 5.2.2 completion
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat: Task 5.2.2 - Implement comprehensive application performance monitoring
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  examples/monitoring_integration_demo.py
  monitoring/README.md
  monitoring/alertmanager/alertmanager.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/setup_monitoring.py
  poetry.lock
  pyproject.toml
  src/api/main.py
  src/api/middleware/metrics_middleware.py
  src/monitoring/__init__.py
  src/monitoring/tracing.py
  tests/unit/test_monitoring_system.py
Due: pytest-check, spark-job-validation

docs: update Task 5.2.2 with correct PR number
  ai_docs/ECAP_tasklist.md
Due: none

feat(alerting): implement comprehensive alerting and incident response system (#5.2.3)
  .claude/settings.local.json
  alerting/README.md
  alerting/alert_rules/intelligent_alerts.yml
  alerting/escalation/escalation_procedures.yml
  alerting/incident_response/automated_incident_response.py
  alerting/oncall/oncall_config.yml
  alerting/oncall/oncall_rotation_manager.py
  alerting/runbooks/api_service_down.md
  alerting/runbooks/fraud_detection_down.md
  alerting/testing/test_alerting_system.py
Due: pytest-check

feat(alerting): implement comprehensive alerting and incident response system (#5.2.3) (#69)
  .claude/settings.local.json
  alerting/README.md
  alerting/alert_rules/intelligent_alerts.yml
  alerting/escalation/escalation_procedures.yml
  alerting/incident_response/automated_incident_response.py
  alerting/oncall/oncall_config.yml
  alerting/oncall/oncall_rotation_manager.py
  alerting/runbooks/api_service_down.md
  alerting/runbooks/fraud_detection_down.md
  alerting/testing/test_alerting_system.py
Due: pytest-check

docs: update task documentation for completed Task 5.2.3
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat: implement Task 5.3.1 - Deploy production Spark cluster
  examples/logging_integration_demo.py
  terraform/environments/dev/airflow-dags/emr_analytics_pipeline.py
  terraform/environments/dev/airflow-dags/streaming_data_pipeline.py
  terraform/environments/dev/airflow.tf
  terraform/environments/dev/spark-jobs/data_validation.py
  terraform/environments/dev/spark-jobs/rfm_segmentation.py
  terraform/environments/dev/spark.tf
  terraform/environments/dev/templates/install-python-deps.sh.tpl
  terraform/environments/dev/templates/setup-monitoring.sh.tpl
  terraform/modules/airflow/main.tf
  terraform/modules/airflow/outputs.tf
  terraform/modules/airflow/variables.tf
  terraform/modules/emr/main.tf
  terraform/modules/emr/outputs.tf
  terraform/modules/emr/templates/bootstrap.sh.tpl
  terraform/modules/emr/variables.tf
Due: pytest-check

docs: update task 5.3.1 completion status and execution summary
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
Due: none

feat: implement Task 5.3.1 - Deploy production Spark cluster (#70)
  ai_docs/ECAP_execution_summary.md
  ai_docs/ECAP_tasklist.md
  examples/logging_integration_demo.py
  terraform/environments/dev/airflow-dags/emr_analytics_pipeline.py
  terraform/environments/dev/airflow-dags/streaming_data_pipeline.py
  terraform/environments/dev/airflow.tf
  terraform/environments/dev/spark-jobs/data_validation.py
  terraform/environments/dev/spark-jobs/rfm_segmentation.py
  terraform/environments/dev/spark.tf
  terraform/environments/dev/templates/install-python-deps.sh.tpl
  terraform/environments/dev/templates/setup-monitoring.sh.tpl
  terraform/modules/airflow/main.tf
  terraform/modules/airflow/outputs.tf
  terraform/modules/airflow/variables.tf
  terraform/modules/emr/main.tf
  terraform/modules/emr/outputs.tf
  terraform/modules/emr/templates/bootstrap.sh.tpl
  terraform/modules/emr/variables.tf
Due: pytest-check

docs: add PR link for Task 5.3.1 completion
  ai_docs/ECAP_tasklist.md
Due: none

docs: fix task completion checklist and execution summary
  ai_docs/ECAP_execution_summary.md
  ai_docs/TASK_COMPLETION_CHECKLIST.md
Due: none

docs: fix chronological order of tasks in execution summary
  ai_docs/ECAP_execution_summary.md
Due: none

docs: update Phase 5 completion percentage to 78% in README.md
  README.md
Due: none

feat: implement Task 5.3.2 - Implement production data governance
  .claude/settings.local.json
  examples/data_governance_demo.py
  src/data_governance/__init__.py
  src/data_governance/audit.py
  src/data_governance/catalog.py
  src/data_governance/lineage.py
  src/data_governance/privacy.py
  src/data_governance/quality.py
  tests/unit/test_data_governance.py
Due: pytest-check, spark-job-validation

feat: implement Task 5.3.2 - Implement production data governance (#71)
  .claude/settings.local.json
  examples/data_governance_demo.py
  src/data_governance/__init__.py
  src/data_governance/audit.py
  src/data_governance/catalog.py
  src/data_governance/lineage.py
  src/data_governance/privacy.py
  src/data_governance/quality.py
  tests/unit/test_data_governance.py
Due: pytest-check, spark-job-validation
