Repository joaoblasques/e-commerce-analytics-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, spark-job-validation

pytest-check:
  name: Run pytest
  entry: poetry run pytest
  language: system
  pass_filenames: false
  stages:
  - push

spark-job-validation:
  name: Validate Spark jobs
  entry: python -m src.utils.spark_validator
  language: system
  pass_filenames: false
  stages:
  - commit

docs: mark Task 1.1.2 as completed
  ECAP_tasklist.md
Due: none

feat: implement task 1.1.3 - comprehensive CI/CD pipeline with GitHub Actions
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
Due: none

feat: implement task 1.1.3 - comprehensive CI/CD pipeline with GitHub Actions (#4)
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
Due: none

docs: update task list - mark Task 1.1.3 as completed
  ECAP_tasklist.md
Due: none

docs: simplify PR workflow and branch protection strategy
  ECAP_tasklist.md
Due: none

fix: resolve GitHub Actions workflow errors
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

fix: resolve GitHub Actions workflow errors (#5)
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

fix: use Python 3.10 instead of 3.9.6 for GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
Due: none

fix: use Python 3.10 instead of 3.9.6 for GitHub Actions (#6)
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
Due: none

fix: optimize CI performance to prevent indefinite hanging
  .claude/settings.local.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: optimize CI performance to prevent indefinite hanging (#7)
  .claude/settings.local.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

docs: add technical debt section to track CI/CD issues
  ECAP_tasklist.md
Due: none

feat: implement task 1.2.1 - comprehensive Docker Compose development stack
  .claude/settings.local.json
  .env.example
  config/minio/init-buckets.sh
  config/postgres/init/01-init-database.sql
  docker-compose.yml
  docs/docker-setup.md
  pyproject.toml
  scripts/start-dev-env.sh
  scripts/stop-dev-env.sh
  scripts/test-services.py
Due: pytest-check

feat: implement task 1.2.1 - comprehensive Docker Compose development stack (#8)
  .claude/settings.local.json
  .env.example
  ECAP_tasklist.md
  config/minio/init-buckets.sh
  config/postgres/init/01-init-database.sql
  docker-compose.yml
  docs/docker-setup.md
  pyproject.toml
  scripts/start-dev-env.sh
  scripts/stop-dev-env.sh
  scripts/test-services.py
Due: pytest-check

resolve merge conflict in claude settings
  .claude/settings.local.json
Due: none

docs: update task list - mark Task 1.2.1 as completed
  ECAP_tasklist.md
Due: none

fix: resolve CI issues from Task 1.2.1
  .claude/settings.local.json
  .github/workflows/ci.yml
  poetry.lock
  src/utils/spark_validator.py
  tests/unit/test_cli.py
  tests/unit/test_init.py
  tests/unit/test_spark_validator.py
Due: pytest-check, spark-job-validation

fix: add missing security dependencies and fix failing tests
  poetry.lock
  pyproject.toml
  tests/unit/test_init.py
  tests/unit/test_spark_validator.py
Due: pytest-check

feat: implement comprehensive monitoring and observability stack (Task 1.2.2)
  config/alertmanager/alertmanager.yml
  config/kafka/jmx_prometheus_javaagent.yml
  docker-compose.yml
  docs/monitoring-setup.md
  scripts/test-monitoring.py
Due: pytest-check

feat: implement comprehensive monitoring and observability stack (Task 1.2.2) (#10)
  .claude/settings.local.json
  ECAP_tasklist.md
  config/alertmanager/alertmanager.yml
  config/kafka/jmx_prometheus_javaagent.yml
  docker-compose.yml
  docs/monitoring-setup.md
  scripts/test-monitoring.py
Due: pytest-check

docs: add automatic PR merge rule to development workflow
  Claude.md
Due: none

docs: mark Task 1.2.2 as completed with implementation details
  ECAP_tasklist.md
Due: none

feat: add time tracking system to task list
  ECAP_tasklist.md
Due: none

feat: implement comprehensive development scripts and utilities (Task 1.2.3)
  Makefile
  docs/local-setup.md
  pyproject.toml
  scripts/README.md
  scripts/check-health.py
  scripts/generate-test-data.py
  scripts/reset-data.sh
Due: pytest-check

feat: implement comprehensive development scripts and utilities (Task 1.2.3) (#11)
  Makefile
  docs/local-setup.md
  pyproject.toml
  scripts/README.md
  scripts/check-health.py
  scripts/generate-test-data.py
  scripts/reset-data.sh
Due: pytest-check

docs: mark Task 1.2.3 as completed with time tracking
  ECAP_tasklist.md
Due: none

fix: correct actual time for Task 1.2.3 from 3h20m to 20 minutes
  ECAP_tasklist.md
Due: none

feat: implement Task 1.3.1 - database schemas and migration framework
  .claude/settings.local.json
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/2025_07_18_0816-70e4ba23d616_initial_database_schema.py
  docs/database-setup.md
  pyproject.toml
  scripts/manage_database.py
  src/database/__init__.py
  src/database/config.py
  src/database/models.py
  src/database/seed_data.py
  src/database/utils.py
  tests/unit/test_database.py
Due: pytest-check, spark-job-validation

feat: implement Task 1.3.1 - database schemas and migration framework (#12)
  .claude/settings.local.json
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/2025_07_18_0816-70e4ba23d616_initial_database_schema.py
  docs/database-setup.md
  pyproject.toml
  scripts/manage_database.py
  src/database/__init__.py
  src/database/config.py
  src/database/models.py
  src/database/seed_data.py
  src/database/utils.py
  tests/unit/test_database.py
Due: pytest-check, spark-job-validation

feat: integrate Terraform infrastructure provisioning across project documentation
  Claude.md
  ECAP_execution_summary.md
  ECAP_planning.md
  ECAP_prd.md
  ECAP_tasklist.md
Due: none

feat: implement Kafka topics and partitioning strategy (Task 1.3.2)
  .claude/settings.local.json
  Makefile
  docs/kafka-setup.md
  pyproject.toml
  scripts/README.md
  scripts/kafka-topics.sh
  scripts/manage_kafka.py
  tests/test_kafka_setup.py
Due: pytest-check

feat: implement Kafka topics and partitioning strategy (Task 1.3.2) (#13)
  .claude/settings.local.json
  Makefile
  docs/kafka-setup.md
  pyproject.toml
  scripts/README.md
  scripts/kafka-topics.sh
  scripts/manage_kafka.py
  tests/test_kafka_setup.py
Due: pytest-check

docs: mark Task 1.3.2 as completed with comprehensive Kafka implementation
  ECAP_execution_summary.md
  ECAP_tasklist.md
Due: none

fix: correct time tracking to be more realistic and honest
  ECAP_execution_summary.md
  ECAP_tasklist.md
Due: none

fix: correct time tracking methodology to measure actual elapsed time
  ECAP_execution_summary.md
  ECAP_tasklist.md
Due: none

feat: implement comprehensive data generation framework (Task 1.3.3)
  docs/data-generation.md
  pyproject.toml
  scripts/generate_stream_data.py
  src/data_generation/__init__.py
  src/data_generation/config.py
  src/data_generation/generator.py
  src/data_generation/patterns.py
  src/data_generation/producers.py
  tests/test_data_generation.py
Due: pytest-check, spark-job-validation

feat: implement comprehensive data generation framework (Task 1.3.3) (#14)
  docs/data-generation.md
  pyproject.toml
  scripts/generate_stream_data.py
  src/data_generation/__init__.py
  src/data_generation/config.py
  src/data_generation/generator.py
  src/data_generation/patterns.py
  src/data_generation/producers.py
  tests/test_data_generation.py
Due: pytest-check, spark-job-validation

feat: Task 1.3.4 - Implement Terraform local development infrastructure
  ECAP_tasklist.md
  config/alertmanager/alertmanager.yml
  terraform/local/kafka.tf
  terraform/local/main.tf
  terraform/local/minio.tf
  terraform/local/monitoring.tf
  terraform/local/postgres.tf
  terraform/local/redis.tf
  terraform/local/spark.tf
  terraform/local/zookeeper.tf
Due: none

feat: Task 1.3.4 - Implement Terraform local development infrastructure (#15)
  ECAP_tasklist.md
  config/alertmanager/alertmanager.yml
  terraform/local/kafka.tf
  terraform/local/main.tf
  terraform/local/minio.tf
  terraform/local/monitoring.tf
  terraform/local/postgres.tf
  terraform/local/redis.tf
  terraform/local/spark.tf
  terraform/local/zookeeper.tf
Due: none

fix: resolve CI issues from Task 1.2.1 (#9)
  .claude/settings.local.json
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  src/utils/spark_validator.py
  tests/unit/test_cli.py
  tests/unit/test_init.py
  tests/unit/test_spark_validator.py
Due: pytest-check, spark-job-validation

Path conditions:
  pytest-check: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$
  spark-job-validation: any of: src/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  docs/_build/.*|
  htmlcov/.*|
  \.coverage.*|
  data/.*|
  logs/.*|
  \.env.*
)$
